﻿@using UmbracoConfigurator.Models


@{
    List<UsagesModel> usages = Model.Usages;
}



<div class="row clearfix dash-row">

    @Html.Raw(Model.UsagesLinks)

</div>

<div class="row clearfix dash-row">
    <div id="result-box" style="background-color: lightgray;padding: 1rem;color: #000;margin-top: 1rem;line-height: 1;border-radius: 5px"></div>
</div>


